* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

:root {
    --white: #FFF;

    --gray-50: #F7F8FA;
    --gray-100: #E6E8EB;
    --gray-200: #AFB2B1;
    --gray-500: #808080;
    --gray-800: #494D4B;

    --black: #000;
}

body {
    background: var(--gray-50);
}

body {
    font: 600 1.6rem Inter, sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: var(--gray-800);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

a {
    display: block;
}

